<configuration>
	<authorization> 
		<allow pages="AdministrationAccueil"
				users="*" />
		<allow pages="AccueilAdministrateurAuthentifie,CreerEtablissement,CreerOrganisation,
				CreerPrestation,CreerTypePrestation,FormulaireProfils,
				FormulaireUtilisateurs,CreerIndisponibilites,GestionProfils,GestionOrganisations,GestionEtablissements,
				GestionTypesPrestations,GestionPrestations,GestionUtilisateurs,FormulaireRessource,GestionRessources
				,GestionJoursFeries,GestionIndisponibilites,CreerJourFerie,CreerIndisponibilite,VisualiserRendezVous,
				GestionRendezVous,PrendreRendezVousAdmin,RapportNbRdv,RapportDelaiObtention,RapportActivite,
				PerformanceGlobale,GestionRefPrestation,CreerRefPrestation,RendezVousSemaine,PopUpImpression,GestionRefTypePrestation,CreerRefTypePrestation, GestionParametragePrestations,
				CreerParametragePrestation, GestionPrestationsModeRef, CreerPrestationModeRef, CreerChampSupp, GestionChampsSupp,PopUpVisualiserDocument,FrameDocument"
				roles="adminSys,adminOrg,adminEtab,agent" />
		<deny pages="" users="*" />
	</authorization>
</configuration>