<configuration>
    <authorization>
        <allow pages="RessourceAccueil"
               users="*" />
        <allow pages="FormulaireUtilisateurs,AccueilRessourceAuthentifie,GestionRessource,FormulaireUtilisateurs,GestionIndisponibilites,CreerIndisponibilites,GestionRendezVous,PrendreRendezVousRessource
                      ,VisualiserRendezVous,PopUpVisualiserDocument,FrameDocument"
               roles="ressource" />
        <deny pages="" users="*" />
    </authorization>
</configuration>
